<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src = "https://cdn.tailwindcss.com"> </script>
        <title> Blackjack </title>
    </head>
.
    <body>
        <h1>{{ user }} you are playing Blackjack</h1>
        <h2>Score: {{ userscore }}</h2>

        <div>
            <p>User's Cards:</p>
            {% for x in user_imgs %}
                <img src="{{user_imgs[x]}}" alt="user card">
            {% endfor %}
        </div>

        <div>
            <p>Dealer's Cards:</p>
            {% for x in dealer_imgs %}
                <img src="{{dealer_imgs[x]}}" alt="dealer card">
            {% endfor %}
        </div>

        <form method="POST">
            <button name="action" value="hit">Hit</button>
            <button name="action" value="stay">Stay</button>
        </form>

        {% if end is true %}
            <p>You {{ 'win' if win else 'lose' }}!</p>
        {% endif %}
    </body>
</html>
