<!DOCTYPE html>


<html>

  <head>
    <title> HomePage </title>
    <link rel="stylesheet" href="static/styles.css">
  </head>

  <body>
    <h1>
        Welcome to your HomePage {{ user }}!
    </h1>
    <h3> Play Blackjack!</h3>
    <form id = "home" action="/blackjack" method="POST">
      <button type="submit" name="bjb" value="submit">Click here</button>
    </form>
    <h3> Play Dice!</h3>
    <form id = "home" action="/dice" method="POST">
      <button type="submit" name="diceb" value="submit">Click here</button>
    </form>
     <h3> Play Coin!</h3>
    <form id = "home" action="/coin" method="POST">
      <button type="submit" name="coinb" value="submit">Click here</button>
    </form>
  <p> 

</p>
  <p> 
      <a href="/logout">Log Out </a>
      
  </p>
  


 
  </body> 
