<!DOCTYPE html> 
<form action="homepage" method = "POST">
  <div class="container">
    <h1>Register</h1>
    <p>Create an account</p>
    <hr>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" required id="username" name="username" >

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" required id="password" name="password">

    <label for="password-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" required id="password-repeat" name="password-repeat">
    <hr>

    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="login">Sign in</a>.</p>
  </div>
</form>
