<!DOCTYPE html> 

<body>
  <h2>Register</h2>
  <form action="/register" method="POST">
      <div>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
      </div>
      <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
      </div>
      <div>
        <label for="password-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" required id="password-repeat" name="password-repeat">
    </div>
      <div>
          <button type="submit">Register</button>
      </div>
  </form>

  <p>Already have an account? <a href="/login">Login here</a></p>
</body>


</form>

